header ul {
    background-color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: serenity,sans-serif;
    font-weight: 500;
    font-style: normal; 
}
body{
   background-color: rgb(0, 0, 0);
}

.container-fluid {
background-color: rgb(0, 0, 0);
border: 5px;
box-shadow: 0px 10px 10px 0px rgba(90, 196, 238, 0.308), 0 6px 20px 0 rgba(90, 196, 238, 0.226);
color: rgb(253, 253, 253);
}
.jumbotron {
    background-color: rgb(0, 0, 0);
    height: 500px;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: bold;
}
h5 {
    font-size: 25px;
}

p {
    font-size: 18px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 40px;
   width: 100%;
   background-color: rgb(0, 0, 0);
   box-shadow: 0px 10px 10px 0px rgba(90, 196, 238, 0.308), 0 6px 20px 0 rgba(90, 196, 238, 0.226);
   color: white;
   text-align: center;
}